<div>
    <div class="food-details">
        <div class="details">
            <div class="infos">
                <span ng-if="vegan === true" class="text-uppercase">
                    i[class="fa fa-leaf"] vegan
                </span>
            </div>
            <p ng-bind-html="details">{{details}}</p>
            <span id="liner"></span>
        </div>
        <div class="single-box-headings">
          <ul class="style-unstyled list-inline">
            <li class="food-number"><h4>{{number}}</h4></li>
            <li class="food-title"><h4>{{title}}</h4></li>
          </ul>
        </div>
        <div class="border-line"></div>
    </div>
</div>
