<div class="container menu-top-list">
    <h3 class="text-uppercase">menu</h3>
    <ul class="list-unstyled list-inline text-capitalize">
        <li class="submenu-holder">
            <a href="#/vorspeisen">
                vorspeisen
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="list-unstyled submenu">
                <li>
                    <a href="#/suppen">suppen</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#/momos">momo</a>
        </li>
        <li>
            <a href="#/hauptgerichten">hauptgerichten</a>
        </li>
        <li>
            <a href="#/vegitarisch">vegitarisch</a>
        </li>
        <li class="submenu-holder">
            <span id="xtras">Extras
                <i class="fa fa-caret-down"></i>
            </span>
            <ul class="submenu">
                <li>
                    <a href="#/desserts">desserts</a>
                </li>
                <li>
                    <a href="#/beilagen">beilagen</a>
                </li>
                <li>
                    <a href="#/saucen">saucen</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
